div.appName {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: HACKED, serif;
    color: white;
    background-color: black;
    font-size: 10vw;
    text-align: center;
    width: 99%;
}

img.button {
    width: 10%;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}